/Old Config Help Page.txt

# Eclipse stuff
/.classpath
/.project
/.settings
/.project
/bin

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/output
